* {
  font-family: "noto-sans", monospace;
  background-color: #282a36;
  color: #f8f8f2;
}

body {
  width: 60%;
  margin: auto;
}

a:hover {
  color: #ff79c6;
}

a {
  color: #bd93f9;
  padding: 0px;
}

h1 {
  color: #50fa7b;
  font-size: 38px;
  font-weight: bold;
}

ol,
ul {
  list-style-position: inside;
  list-style: none;
}

.warning {
  color: #ff5555;
  padding: 0px;
  text-align: center;
}

li {
  padding-bottom: 10px;
}

.title {
  text-align: center;
}

.recipe-list {
  text-align: center;
}

.recipe {
  padding: 20px;
  border: #bd93f9 5px solid;
  width: 350px;
  margin: 30px auto;
}

.ingredients-list {
  margin-right: 15px;
}
