* {
  font-family: "monaco", monospace;
  background-color: #282a36;
  color: #f8f8f2;
  padding-left: 7%;
  padding-right: 7%;
}

a:hover {
  color: #ff79c6;
}

a {
  color: #bd93f9;
  padding: 0px;
}

h1 {
  color: #50fa7b;
  font-size: 38px;
  font-weight: bold;
}

ol,
ul {
  list-style-position: inside;
}

.warning {
  color: #ff5555;
  padding: 0px;
  text-align: center;
}

li {
  padding-bottom: 10px;
}
